:root {
  font-family: Arial, sans-serif;

  color: #f8fafc;
  background: #050816;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  background: #050816;
}

#root {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  text-align: left;

  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}